<footer data-theme="dark" class="region">
<div class="container">

  <div class="grid">
  
    <div class="flow">
      <p><b>Bridgetown Rise</b></p>
      <p>
        A Bridgetown starter template using modern vanilla CSS, fluid type, fluid spacing, flexible layout and progressive enhancement and other goodies.
      </p>
    </div>

    <nav>
      <p><b>Quick Links</b></p>
      <ul role="list">
        <% site.data.nav.each do |item| %>
          <li>
            <%= link_to item.title, item.url %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="flow">
      <p><b>Social Links</b></p>
      <nav id="social" class="" aria-label="Social links">
        
        <%# TODO: refactor into a flex container %>
        <% site.data.social_icons.each do |item| %>
          <a href="<%= item.url %>" class="flex">
            <span class="visually-hidden"><%= item.title %></span>
            <% svg_file = item.icon %>
            <%= svg "/images/svg/" + svg_file + ".svg" %>
          </a>
        <% end %>

      </nav>
    </div>

    
  </div>
</div>

  <footer>
      <p>&copy; <%= site.time.strftime("%Y") %> Developed by 
      <a href="https://grittypublishing.com">Gritty Publishing</a>
    </p>
  </footer>

</footer>