<footer data-theme="dark" class="region">
<div class="container">

  <div class="grid">
  
    <div class="flow">
      <h2>Bridgetown Rise</h2>
      <p>
        A Bridgetown starter template using modern vanilla CSS, fluid type, fluid spacing, flexible layout and progressive enhancement and other goodies.
      </p>
    </div>

    <nav aria-label="Quick links" class="flow">
      <h3>Quick Links</h3>
      <ul class="footer-nav" role="list">
        <% site.data.nav.each do |item| %>
          <li>
            <%= link_to item.title, item.url %>
          </li>
        <% end %>
      </ul>
    </nav>

    <nav id="social" class="flow" aria-label="Social links">
      <h3>Social Links</h3>
      <ul class="footer-nav" role="list">        
        <% site.data.social_icons.each do |item| %>
        <li>
          <a href="<%= item.url %>">
            <span class="visually-hidden"><%= item.title %></span>
            <% svg_file = item.icon %>
            <%= svg "/images/svg/" + svg_file + ".svg" %>
          </a>
        </li>
        <% end %>
      </ul>
    </nav>
    
  </div>
</div>

  <footer>
      <p>&copy; <%= site.time.strftime("%Y") %> Developed by 
      <a href="https://grittypublishing.com">Gritty Publishing</a>
    </p>
  </footer>

</footer>